.App footer {
  text-align: center;
  font-size: 12px;
  font-family: arial;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/013/874/original/wp1843760.jpg?1627228747");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "MedievalSharp", cursive;
  color: white;
}

.App header {
  text-align: center;
  font-size: 36px;
}

a {
  color: blue;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
