.App footer {
  text-align: center;
  font-size: 12px;
  font-family: arial;
}

body {
  background: linear-gradient(to right, #33ccff 0%, #cc99ff 100%);
  font-family: "Bodoni Moda", serif;
}

.App header {
  text-align: center;
  font-size: 36px;
}

a {
  color: blue;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
