.Dictionary section {
  background-color: #cebba0;
  border: 3px outset rgba(224, 206, 178, 0.2);
  border-radius: 14px;
  padding: 30px;
  margin: 20px 0px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
}

.Dictionary .hint {
  font-size: 10px;
  margin-top: 5px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  border: 3px outset rgba(224, 206, 178, 0.2);
}
