.Dictionary section {
  background-color: rgb(0, 0, 30, 0.5);
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
}

.Dictionary .hint {
  font-size: 10px;
  margin-top: 5px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 80px;
  color: white;
}
